.parrafo{
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: mediumslateblue;
    font-size: larger;
    font-weight: 500;
}

div{
    border: 2px solid greenyellow;
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 15px;
    background-color: violet;
}

span ul li{
    color: peru;
    font-style: oblique;
    font-weight: 700;

}
#boton{
    background-color: lightcoral;
    border: none;
    font-size: 30px;
    width: 500px;
    padding: 20px;
    color: white;
}

.link{
    color: purple;

}
a:hover{
    color: red;
}